.Photos img {
  border-radius: 3px;
  margin-bottom: 8px;
}

.Photos .author {
  font-size: 12px;
  text-transform: none;
}

.Photos .pexelsCredits {
  margin-top: 20px;
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

.Photos .pexelsLogo {
  width: 20px;
  margin: 5px;
}
